<div class="h-full relative">
  <div class="justify-between uppercase text-white text-xl bg-cyan-blue py-4 flex items-center px-2">
      <%= image_tag("menu_icon.png", alt: "menu") %>
      <h2 class="text-center">Categories</h2>
      <div class="">
        <%= button_to destroy_user_session_path, method: :delete do %>
          Log out
        <% end %>
      </div>
  </div>
  <div class="flex justify-between p-4 text-gray-500 text-lg bg-white border-b">
    <p>Gift credit</p>
    <p class="font-bold text-black">$ 45.00</p>
  </div>
  <div class="pb-24">
    <% @categories.each do |category| %>  
      <div id="<%= dom_id category %>" class="bg-white m-2">
        <%= link_to user_category_payments_path(current_user, category.id),class:"", :action => 'go' do %>
        <div class="flex items-center">
          <div class="w-[18%] m-2">
            <%= image_tag category.icon, class: "w-full rounded" %>
          </div>
          <div class="grow px-2">
            <div class="flex justify-between border-b pb-2">
              <p class="text-black-coral"><%= category.name %></p>
              <p class="font-bold"><%= number_to_currency(category.total_payment_amount) %></p>
            </div>
            <p class="text-philippine-gray text-sm"><%= category.created_at.strftime('%d %b %Y') %></p>
          </div>
        </div>  
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="text-center bg-green text-white py-8 fixed bottom-0 w-full">
    <%= link_to "+ New Category", new_user_category_path(current_user), class:"border border-white px-10 py-4 text-2xl uppercase" %>
  </div>
</div>
