<div class="bg-gray-100 h-screen">
  <%= form_for [@user, @category], html: { multipart: true } do |f| %>
    <div class="uppercase text-white text-xl bg-cyan-blue py-4 flex items-center px-2">
      <%= link_to(image_tag("left_icon.png", alt: "left_arrow"), user_categories_path) %>
      <h2 class="text-center w-full">New Category</h2>
      <div class="actions text-center">
      <%= f.submit "Save", class: "text-white" %>
      </div>
    </div>

    <div class="field my-2 w-full">
      <%= f.text_field :name, placeholder: "Name", class: "border-none my-4 p-2 w-full" %>
    </div>

    <div class="field text-center">
      <%= f.label :icon, "Upload icon", class: "bg-cyan-blue text-white p-4 rounded" %>
      <%= f.file_field :icon, required: true, class: "bg-cyan-blue", style: "display: none;" %>
    </div>
  <% end %>
</div>
